body{
            margin: 0;
            padding: 0;
            background-color: bisque;

            font-family: Arial, Helvetica, sans-serif;
        }

        /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(256,256,256,1);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

      /*  .slider{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background-color: bisque;
            background-image: url(./bg2.jpg);
            background-size: cover;
            position: absolute;
            

        }*/

       /* parallax start*/

       .hero {
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.hero--layer {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.hero__1 {
  background-image: url(layer-7.png);
}

.hero__2 {
  background-image: url(layer-2.png);
}

.hero__3 {
  background-image: url(layer-3.png);
}

/*.hero__4 {
  background-image: url(layer-4.png);
}

.hero__5 {
  background-image: url(layer-5.png);
}

.hero__6 {
  background-image: url(layer-6.png);
}
*/
.hero__7 {
  background-image: url(layer-8.png);
}

.hero__8 {
  background-image: url(layer-4.png);
}

.hero__9 {
  background-image: url(layer-5.png);
}

.txt-div1{
  font-family: Futura HV BT;
  font-weight: 700;
  color: #f2f2f2;
  display: flex;
  text-align: center;
  top: 23vh;
  left: 37.5vw;
}
.txt-div2{
  font-family: Futura HV BT;
  font-weight: 700;
  color: #f2f2f2;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 27vh;
}
.txt-div1 > .lets{
  font-size: 2em;
  
}
.txt-div2> .nepal{
  font-size: 7em;
  
}

.txt-div3{
  font-family: Futura HV BT;
  font-weight: 400;
  color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  top: 75vh;
  padding-left: 5vw;
  
}

.txt-div4{
  font-family: Futura HV BT;
  font-weight: 400;
  color: #f2f2f2;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  right: 5vw;
  top: 75vh;
  
}

.weathertitle{
  margin: 5px 0;
  color: white;
  text-align: left;
}
.weather{
  margin: 5px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.weather-item1,.weather-item2,.weather-item3{
  position: absolute;
  top: 5vh;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.weather-item1{
  animation-name: anim-1;
}
.weather-item2{
  animation-name: anim-2;
}
.weather-item3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 5%; opacity: 1; }
  33.33%, 100% { left: 15%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 5%; opacity: 1; }
  66.66%, 100% { left: 15%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 5%; opacity: 1; }
  100% { left: 15%; opacity: 0; }
}

       /* parallax end*/




       
        nav{
            position: fixed;

            /*background-color: #0f0f0f;*/
            text-decoration: none;
            color: #0f0f0f;
            /*padding: 10px 10px;*/
            float: right;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between; /*flex-end*/;
            overflow: hidden;
            
            transition: 0.3s ease-in-out;
            z-index: 1;
        }

        .open{
         
        }

        .close{
        }

        nav a{
            text-decoration: none;
            color: #f5f5f5;
            padding: 0px 15px;
            font-family: Poppins;
            font-weight: 400;
            

        }

        nav a:hover{
            color: #ffea00;
            /*color: #10deff;*/
        }
        nav .icon{
            display: none;
        }

        nav a.active{
            color: #ffea00;
        }

        .menu-bind{
          padding: 0px 25px;
        }

        .logo{
          margin: 0px 35px;
        }
        .imgg{
          transition: 0.3s ease-in-out;
        }
        .open1 >.logo > .imgg{
          width: 100px;
        }

        .open1 a{
          font-size: 14px;
        }


@media screen and (max-width: 600px) {
        .menu-bind{display: none;}
        nav a.icon {
            float: right;
            display: block;
          }
        }

@media screen and (max-width: 600px) {
  .menu-bind{display: none;}
  nav {
    position: relative;
    height: 40vh; }


  nav .icon {
    position: fixed;
    right: 0;
    top: 15px;
    font-size: 14px;
  }
.menu-bind{
    top: 40px;
    position: fixed;
    width: 100vw;
     align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 30vh;
    padding: 0;
  }
    .menu-bind a {
        float: none;
        display: block;
        padding: 10px 5px;
        top: 30px;
        font-size: 14px;
  }

.logo{
  margin: 5px 10px;
}
.open1 >.logo > .imgg{
          width: 80px;
        }

  .close{
  }

  .open{
    position: fixed;
    background-color: rgba(25,144,255,0.8);;
  }  
  
  .open > .menu-bind{
    display: flex;

  }


  .open.close1 { 
    background-color:rgba(30,144,255,0.8);
    height: 50vh; 
  }
.open.open1 { 
  background-color:rgba(30,144,255,0.8);
  height: 50vh;
}

.open .logo{
  display: none;
}

}



.container {
  background-color: white;
  /*padding: 30px;*/
  margin: 0;
  position: absolute;
  top: 100vh;
}

.container--item {
  width: 100%;
  margin: 0;
}

h1 {
  color: black;
  font-family: Arial;
  font-size: 40px;
  line-height: 130%;
  font-weight: bold;
  text-align: center;
}

p {
  color: black;
  font-family: Arial;
  font-size: 16px;
  line-height: 130%;
}
.close1 { 
  background-color:rgba(0,0,33,0.9);
  height: 50px;
 }
.close1 > .logo > .imgg{
  width: 60px;
}
.close1 a{
  font-size: 14px;
}

.open1 { background-color:transparent;
height: 80px;

}




.intro{
  height: 80vh;
  background-color: lightgrey;
  
}
.intro-0{
  display: flex;
  width: 100%;
  height: 30%;
  padding: 7vh 0;

}
.intro-1{
  width: 50%;
  height: 100%;
  display:inline-block;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family: Avenir Next LT Pro;
  font-weight: 400;
  font-size: 1.8em;
  padding-right: 2vw;
}

.intro-2{
  width: 50%;
  height: 100%;
  display:inline-block;
  border-left: black 4px solid;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: Avenir Next LT Pro;
  font-weight: 400;
  font-size: 18px;
  padding-left: 2vw;
}


.intro-00{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45%;
  padding-bottom: 5vh;

}

.why{
  font-family: Avenir Next LT Pro;
  font-weight: 400;
  font-size: 1.8em;
}